html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
}
h1 {
  font-weight:800 !important;
  font-size:2.5rem !important;
  letter-spacing: -1.5px;
}
h3 {
  font-size: 2.5rem;
  letter-spacing: -1.5px;
}
h4, h5 {
  font-weight: 800 !important;
  padding-top: 20px;
}
code {
  color: black;
  background: rgb(233, 233, 233);
  padding: 3px;
  border-radius: 5px;
}
pre {
  background: rgb(233, 233, 233);
  color: black;
  padding: 5px;
  border-radius: 5px;
}
p {
  padding-bottom:10px;
}
a {
  font-weight:bold;
  color: #5ba39c;
  transition: ease 0.2s all;
}
a:hover {
  text-decoration: none;
  color: #59d4c8;
  transition: ease 0.2s all;
}
small {
  font-size:1rem !important;
}
b {
  font-weight:800;
}
img {
  padding-bottom:10px;
}
.manual img {
  margin: auto;
  display: block;
}

/* Navbar elements */
.navbar {
  margin-left:-10px;
  background: none !important;
  margin-bottom: 10px;
}
.navbar-brand, h2 {
  font-weight:800 !important;
  font-size:2rem !important;
  letter-spacing: -3px;
}
.nav-link {
  font-size: 15px;
  font-weight:700;
  color: black !important;
}
.active {
  color: #5ba39c !important;
}

/* Page content*/
#content-body {
  margin-left: auto;
  margin-right: auto;
  top:40%;
  width: 70%;
  max-height:80vh;
  overflow: hidden;
}
#content-body-scrollable {
  margin-left: auto;
  margin-right: auto;
  top:40%;
  width: 70%;
  max-height:80vh;
  overflow: scroll;
}
.card {
  -webkit-box-shadow: 0px 0px 47px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 47px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 47px -2px rgba(0,0,0,0.3);
  min-width:700px;
  border-radius:10px;
}
#main {
  font-size:18px;
  font-weight:400;
  padding:10px;
  padding-left: 8px;
  margin-bottom:10px;
  transition: all 0.2s ease;
  border-radius:5px;
}
.content-container {
  display: table;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.content-helper {
  display: table-cell;
  vertical-align: middle;
}

/* Buttons */
.btn-primary {
  padding:10px 15px 10px 15px;
  font-weight:600;
  font-size:1rem;
  background:#B0D7FF ;
  border:none;
  color: black;
  transition: all 0.2s ease;
  text-align: left;
}
.btn-primary:hover,
.btn-primary:active:focus {
  background:#60AFFF !important;
  color: black;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #60AFFF;
}
.btn-secondary {
  padding:10px 15px 10px 15px;
  font-weight:600;
  font-size:1rem;
  background:#7affd7 ;
  border:none;
  color: black;
  
  transition: all 0.2s ease;
  text-align: left;
}
.btn-secondary:hover,
.btn-secondary:active:focus {
  background:#4CE0B3 !important;
  color: black;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #4CE0B3;
}